/* work Sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Fira+Sans&family=Lato:wght@900&family=Open+Sans:wght@800&family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,400;1,300&family=Work+Sans:wght@400;500;700&display=swap');

/* universal style */
*{

    margin: 0;
    padding: 0;
}
body{
    font-family: 'Abyssinica SIL', serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.primary-btn{
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin-top: 1rem;
    padding: 16px 30px;
    border: 0;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
/* nav style  start*/
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 35px 150px;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title-name{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

.title-first-word{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.nav-logo-section{
    display: flex;
    align-items: center; 
    
    gap: 0.8rem;

}
.second-part-title{
    color: #0B0223;
}
.nav-photo{
    max-width: 3rem;
}
.menubar ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    
    
    
}

.menubar ul a{
    text-decoration: none;
    color: #0B0223;
    
}
.list-follow{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 16px 24px;
   
}

.red-color{
    color: #F61C0D;
    margin: 0px 10px 0px 10px;
}
.different-color{
    color: #000000;
 
}
/* nav style  end*/
/* nav style responsive mobile view */ 
@media screen and (max-width: 576px){
    .navbar{
        flex-direction: column;
    }
    .menubar ul{
        flex-direction: column;
        margin-top: 30px;
        font-size: .7rem;
        
    }
    .list-follow{
        width: 100%; 
        
    }
}
/* nav style responsive tablet view */ 
@media screen and (min-width: 576px) and (max-width:992px){
    .navbar{
        flex-direction: column;
    }
    .menubar ul{
        flex-direction: column;
        margin-top: 30px;
        font-size: 1.8rem;
        
    }
    .list-follow{
        width: 100%; 
        
    }
}

/* nav-banner section style start */
.banner-photo{
    width: 500px;
}
.banner-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    padding: 50px;
    
}
.banner-title-1{
    color: #0B0223;
    font-weight: 600;
    text-transform: uppercase;
    
}
.banner-title-2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    
}
.banner-description{
    color: #534C64;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: lowercase;
}
.btn{
    border-radius: 48px;
    background: linear-gradient(90deg, #4EC5F7 0%, #4EC5F7 100%);
    margin-top: 1rem;
    padding: 16px 28px;
    border: 0;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
/* nav-banner section style start */
/* banner style responsive mobile view */ 
@media screen and (max-width: 576px){
    .banner-section{
        flex-direction: column;
    }
    .banner-photo{
        width: 100%;
        margin-top: 30px;
    }
}
/* banner style responsive tablet view */ 
@media screen and (min-width: 576px) and (max-width:992px){
    .banner-section{
        flex-direction: column;
    }
    .banner-photo{
        width: 100%;
        margin-top: 30px;
    }
}

