/* work Sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Fira+Sans&family=Lato:wght@900&family=Open+Sans:wght@800&family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,400;1,300&family=Work+Sans:wght@400;500;700&display=swap');

/* universal style */
*{

    margin: 0;
    padding: 0;
}
body{
    font-family: 'Abyssinica SIL', serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.primary-btn{
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin-top: 1rem;
    padding: 16px 30px;
    border: 0;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
/* nav style  start*/
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 35px 150px;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title-name{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

.title-first-word{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.nav-logo-section{
    display: flex;
    align-items: center; 
    
    gap: 0.8rem;

}
.second-part-title{
    color: #0B0223;
}
.nav-photo{
    max-width: 3rem;
}
.menubar ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    
    
    
}

.menubar ul a{
    text-decoration: none;
    color: #0B0223;
    
}
.list-follow{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 16px 24px;
   
}

.red-color{
    color: #F61C0D;
    margin: 0px 10px 0px 10px;
}
.different-color{
    color: #000000;
 
}
/* nav style  end*/
/* nav style responsive mobile view */ 
@media screen and (max-width: 576px){
    .navbar{
        flex-direction: column;
    }
    .menubar ul{
        flex-direction: column;
        margin-top: 30px;
        font-size: .7rem;
        
    }
    .list-follow{
        width: 100%;
        
    }
}
/* nav style responsive tablet view */ 
@media screen and (min-width: 576px) and (max-width:992px){
    .navbar{
        flex-direction: column;
    }
    .menubar ul{
        flex-direction: column;
        margin-top: 30px;
        font-size: 1.8rem;
        
    }
    .list-follow{
        width: 100%; 
        
    }
}

/* nav-banner section style start */
.banner-photo{
    width: 500px;
}
.banner-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    padding: 50px;
    
}
.banner-title-1{
    color: #0B0223;
    font-weight: 600;
    text-transform: uppercase;
    
}
.banner-title-2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    
}
.banner-description{
    color: #534C64;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: lowercase;
}
.btn{
    border-radius: 48px;
    background: linear-gradient(90deg, #4EC5F7 0%, #4EC5F7 100%);
    margin-top: 1rem;
    padding: 16px 28px;
    border: 0;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
/* nav-banner section style start */
/* banner style responsive mobile view */ 
@media screen and (max-width: 576px){
    .banner-section{
        flex-direction: column;
    }
    .banner-photo{
        width: 100%;
        margin-top: 30px;
    }
}
/* banner style responsive tablet view */ 
@media screen and (min-width: 576px) and (max-width:992px){
    .banner-section{
        flex-direction: column;
    }
    .banner-photo{
        width: 100%;
        margin-top: 30px;
    }
}

/* Online Games Section start */
.online-games-section{
    margin-top: 80px;
}
.games-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}
.games-description{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}

.online-games-section-card{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    
}
.games-photo , .games-description-9{
    width: 200px;
}
.games-photo:hover{
    /* border: 2px solid #F948B2; */
    border-radius: 10px;
    

}
/* Online Games Section end */

/* Online Games Section responsive mobile view */ 
@media screen and (max-width: 576px){
    .online-games-section-card{
        flex-direction: column;
        align-items: center;
    }
    .games-title , .funny{
        font-size: 1.6rem;
    }
    .games-description{
        font-size: .8rem;
    }
}
/* Online Games Section responsive tablet view */ 
@media screen and (min-width: 576px) and (max-width:992px){
    .online-games-section-card{
        flex-direction: column;
        align-items: center; 
    }
}


/* Play instantly section start */

.play-instantly-container{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 80px;
    

}
.play-instantly-title{
    
    
    font-size: 2.6rem;
    font-weight: 700;
    
}
.instantly-title2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-instantly-description{
    color: #534C64;
    font-size: .8rem;
    font-weight: 400;
}

.photo{
     position: relative; 
   
}
.photo1-img{
    width: 300px;
}
.photo2-img{
    width: 150px;
}

 .photo2{
    top: -110px;
    left: -60px;

} 
/* Play instantly section end */

/* Play instantly Section responsive mobile view */ 
@media screen and (max-width: 576px){
    .play-instantly-container{
        flex-direction: column;
    }
    .play-instantly-title , .instantly-title2{
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .play-instantly-description{
        font-size: .7rem;
        margin-bottom: 20px;
    }
    .photo{
        position: relative; 
      
   }
   .photo1-img{
       width: 200px;
   }
   .photo2-img{
       width: 100px;
   }
   
    .photo2{
       top: -90px;
       left: -40px;
   
   } 
    
}
/* Play instantly Section responsive tablet view */ 
@media screen and (min-width: 576px) and (max-width:992px){
    .play-instantly-container{
        flex-direction: column;
    }
    .play-instantly-title , .instantly-title2{
        font-size: 2.4rem;
        margin-bottom: 10px;
    }
    .play-instantly-description{
        font-size: .8rem;
        margin-bottom: 20px;
    }
    .photo{
        position: relative; 
      
   }
   .photo1-img{
       width: 300px;
   }
   .photo2-img{
       width: 150px;
   }
   
    .photo2{
       top: -110px;
       left: -60px;
   
   } 
}

/* icon style section start */
 .icon-container{
    display: grid;
    grid-template-columns: repeat(5 , 250px);
    gap: 5px; 
    padding: 0px 70px 0px 40px;
}
.icon-photo-with-title{
    display: flex;
    align-items: center;
    max-width: 210px;
}
.just{
     width: 100%; 
     margin-left: 70px; 
} 
.img-icon{
    width: 30px;
}
.icon-title{
    margin-left: 8px;
}
.icon-photo-with-title:hover{
    border-radius: 50px;
    background: #b51111;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #FF42A5;
    padding: 10px;
}
/* icon style section end */
/* icon Section responsive mobile view */ 
@media screen and (max-width: 576px){
    .icon-container{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        
    }
    .icon-photo-with-title{
        display: flex;
        align-items: center;
     
    }
    .just{
        margin-left: 0;
    }
    
    .icon-title{
        
        font-size: .35rem;
    }
    .icon-photo-with-title:hover{
        border-radius: 50px;
        background: #b51111;
        background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 1px solid #FF42A5;
        padding: 10px;
    }
}
/* icon Section responsive tablet view */ 
@media screen and (min-width: 576px) and (max-width:992px){
    .icon-container{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        
    }
    .icon-photo-with-title{
        display: flex;
        align-items: center;
     
    }
    .just{
        margin-left: 0;
    }
    
    .icon-title{
        
        font-size: .8rem;
    }
    .icon-photo-with-title:hover{
        border-radius: 50px;
        background: #b51111;
        background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 1px solid #FF42A5;
        padding: 10px;
    }
}